<div class="btn-block2" align="right" >
  <button type="button" name="addEx" style="background-color: #ffcc33; width: 20%" (click)="addFonction()" > <i class="fas fa-plus"></i>Add New Function</button>
</div>

<h3> Functions List</h3>
<br>
<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search.." #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort >

  <!-- Position Column -->
  <ng-container matColumnDef="codeFonction">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
    <td mat-cell *matCellDef="let element"> {{element.codeFonction}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="dateDebut">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
    <td mat-cell *matCellDef="let element" > {{element.dateDebut}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="dateFin">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
    <td mat-cell *matCellDef="let element" > {{element.dateFin}} </td>
  </ng-container>


  <!-- Name Column
  <ng-container matColumnDef="typeFonction">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Function Type </th>
    <td mat-cell *matCellDef="let element" > {{element.typeFonction.codeTypeFonction}} </td>
  </ng-container>  -->


  <!-- Name Column
  <ng-container matColumnDef="utilisateur">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
    <td mat-cell *matCellDef="let element" > {{element.utilisateur.nom}} </td>
  </ng-container>-->

  <!-- button -->

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Actions </mat-header-cell>
    <mat-cell *matCellDef="let element">

      <button mat-icon-button matTooltip="Click to Edit" (click)="editFonction(element.id)" class="iconbutton" color="accent" style="margin-right: 10px">
        <mat-icon aria-label="edit" ><i class="far fa-edit" ></i></mat-icon>
      </button>
      <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn" (click)="deleteFonction(element.id)">
        <mat-icon><i class="far fa-trash-alt"></i></mat-icon>
      </button>
    </mat-cell>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>
<mat-paginator [pageSizeOptions]="[2, 5, 10, 20]" showFirstLastButtons></mat-paginator>

