<div> <table style="width:100%">
   <tr>
     <td style="text-align: center">
       <img src="/assets/img/nouvelair.png" width="180" >
     </td>
     <td style="text-align: center">

       <h4>AIRBUS A320/series <br>
       RECURRENTTRAINING&CHECKINGPROGRAM <br> 2019/2020 <br> TRAINEE SYLLABUS
       </h4>

     </td>
     <td style="text-align: center">
       <h6>PARTD <br>
         ANXPNT8.1 <br>
         REV 01</h6>
     </td>
   </tr>
 </table>
</div>
<br>
<br>
<div style="text-align: center">
  <h1 style="color: #004990">
    RECURRENT TRAINING and CHECKING <br>
    SIMULATOR A32F <br>
    2019-2020
  </h1>
</div>
<br>
<br>
<div style="text-align: center">
  <h1 style="color: #004990">
    TRAINEE SYLLABUS<br>
    Grading Module
  </h1>
</div>
<br> <br>
<div style="text-align: center">
  <img src="/assets/img/simulateur.PNG" width="60%" >

</div>
<br> <br>
<div  style=" text-align: center">

  <h2 style="background-color: #3669e0">  <i class="fas fa-caret-right fa-sm fa-fw mr-2 text-orange-300"></i> T1: RECURRENT TRAINING MODULE</h2>

</div>
<br> <br>
<div>
  <h4 style="font-weight: bold"> Lesson Overview</h4> </div> <br>

<div>
  <h6>
    During this lesson, we have one part with a short LOFT Training and another part with
    different Non-Normal Procedures.
  </h6>
</div>
<br> <br>
<div>
  <h4 style="font-weight: bold"> Exercices</h4>
</div> <br>
<div>
    <li>ATA 34: NAV</li>
    <li>ATA 70: ENG</li>
    <li>TCAS</li>
    <li>WINDSHEAR</li>
    <li>Eng. Failure during climb / Cruise</li>
    <li>Eng. Failure at Takeoff</li>
    <li>OEI App, go around and Landing</li>
</div> <br> <br>
  <div>
    <h4 style="font-weight: bold"> Training objective :</h4>
  </div> <br>
  <div>
    <li>Good ECAM/Procedures handling & Failure Management.</li>
    <li>Good CRM, task sharing and crew coordination during all phases of flight.</li>
    <li>Strict compliance with stabilization criteria in approach</li>

    </div><br><br>
      <div style="text-align: right;font-weight: bold">DATE: …………………………/………………………/………………………………</div> <br><br>
     <div><h4 style="font-weight: bold; text-align: center">   RECURRENT TRAINING MODULE</h4></div>
<br><br>
<div>
  <table style="width:100%">
    <th style="background-color: #ffcc33">PART 1 LOS (CAPTAIN PF)</th>
    <th style="background-color: #ffcc33">U</th>
    <th style="background-color: #ffcc33">P</th>
    <th style="background-color: #ffcc33">S</th>
    <th style="background-color: #ffcc33">S+</th>
    <tr>
      <td>1.1 Transit Cockpit Preparation [LFBO]</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1.2 Push back / Engine start / After start checklist / Taxi out</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1.3 Take off Runway 32R / SID
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1.4 Windshear
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1.5 TCAS TA/RA
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr><tr>
      <td>1.6 NAV: IR 2+3 FAULT
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr><tr>
      <td>1.7 RNAV STAR / ILS RWY 23
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr><tr>
      <td>1.12 Landing
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div> <br>  <br>
<div>
  <table style="width:100%">
    <th style="background-color: #ffcc33">PART 2 LOS ( F/O PF ) </th>
    <th style="background-color: #ffcc33">U</th>
    <th style="background-color: #ffcc33">P</th>
    <th style="background-color: #ffcc33">S</th>
    <th style="background-color: #ffcc33">S+</th>
    <tr>
      <td>INIT LFBD – Line up position RWY 05</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2.1 Take off Runway 05 / RNAV SID</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2.2 Windshear      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2.3 TCAS TA/RA
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2.4 ENG: Engine FAILURE DURING CRUISE

      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr><tr>
    <td>2.5 Radar Vectors ILS RWY 14R
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr><tr>
    <td>2.6 Reposition 12 NM Final RWY 14R (ALL ENG OPERATING)
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr><tr>
    <td>2.7 ILS RAW DATA RWY 14R
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr><tr>
    <td>2.8 Go-around at 1000 ft / climb to 2000 ft
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr><tr>
    <td> 2.9 G/S From Above
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr><tr>
    <td>2.10 Landing
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </table>
</div>
<br><br>
<div>
  <table style="width:100%">
    <th style="background-color: #ffcc33">PART 3 OEI (F/O PF)</th>
    <th style="background-color: #ffcc33">U</th>
    <th style="background-color: #ffcc33">P</th>
    <th style="background-color: #ffcc33">S</th>
    <th style="background-color: #ffcc33">S+</th>
    <tr>
      <td>3.1 Take off RWY 23 / Engine Failure between V1 and V2</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>3.2 Radar vectors RNAV GNSS RWY 23
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>3.3 Go-around
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>3.4 Radar vectors OEI ILS Approach RWY 23
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>3.5 OEI Landing RWY 23
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div> <br>  <br>
<div>
  <table style="width:100%">
    <th style="background-color: #ffcc33">PART 4 OEI (CAPTAIN PF)</th>
    <th style="background-color: #ffcc33">U</th>
    <th style="background-color: #ffcc33">P</th>
    <th style="background-color: #ffcc33">S</th>
    <th style="background-color: #ffcc33">S+</th>
    <tr>
      <td>4.1 Take off RWY 23 / Engine Failure between V1 and V2</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>4.2 Radar vectors RNAV GNSS RWY 23
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>4.3 Go-around
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>4.4 Radar vectors OEI ILS Approach RWY 23      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>4.5 OEI Landing RWY 23
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>4.6 EMER LANDING: ALL ENGINE FAILURE NEAR THE GROUND: DEMO.
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div> <br>  <br> <br>
<div><h4 style="font-weight: bold; text-align: center">   RECURRENT TRAINING MODULE GRADING</h4></div>
<br><br>
<div>
  <table style="width:100%">
    <th style="background-color: #ffcc33">COMPETENCIES</th>
    <th style="background-color: #ffcc33">1</th>
    <th style="background-color: #ffcc33">2</th>
    <th style="background-color: #ffcc33">3</th>
    <th style="background-color: #ffcc33">4</th>
    <th style="background-color: #ffcc33">5</th>
    <tr>
      <td>APPLICATION OF PROCEDURES</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>COMMUNICATION
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>FLIGHT PATH MANAGEMENT-AUTOMATION      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>FLIGHT PATH MANAGEMENT-MANUAL</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>KNOWLEDGE  </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>LEADERSHIP AND TEAMWORK </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>    <tr>
      <td>PROBLEM SOLVING AND DECISION MAKING</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>    <tr>
      <td>SITUATION AWARENESS</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>    <tr>
      <td>WORKLOAD MANAGEMENT </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div> <br>  <br>
<div>
  <table style="width:100%">
    <th style="background-color: #ffcc33; width: 20%;text-align: center">ITEMS</th>
    <th style="background-color: #ffcc33; width: 80%;text-align: center">COMMENTS</th>
    <tr style="height:190px" ><td></td>
    <td></td></tr>
  </table>
</div>
<br><br>
<div style="text-align: center">
  <table  style="width:70%; text-align: center" align="center">
    <th style="background-color: #ffcc33; width: 100%;text-align: center" colspan="2">Final Result</th>
    <tr>
      <td style="width: 50%; height: 70px"><i class="far fa-square fa-sm fa-fw mr-2 text-orange-300"></i>UNSATISFACTORY</td>
      <td style="width: 50%; height: 70px"><i class="far fa-square fa-sm fa-fw mr-2 text-orange-300"></i>SATISFACTORY</td>
    </tr>
  </table>
</div>
<br><br>
<div style="text-align: center">
  <table  style="width:70%; text-align: center" align="center">
    <th style="background-color: #ffcc33; width: 50%;text-align: center" >Trainee Validation</th>
    <th style="background-color: #ffcc33; width: 50%;text-align: center" >Instructor Validation</th>
    <tr>
      <td style="height: 100px"></td>
      <td style="height: 100px"></td>
    </tr>
  </table>
</div>
