
<div class="btn-block2" align="right" >
  <button type="button" name="addEx" style="background-color: #ffcc33; width: 20%" (click)="editSimulateur(activiteFormation.id)" > <i class="far fa-edit" style="margin-right: 20px"></i>Edit Simulator</button>
</div> <br><br>
<div >
  <h1 align="center">Simulator Details</h1>
  <br><br>
<div id="divA">
  <div id="div1" style="border:  1px solid #ccc; margin-left: 30px; margin-right: 30px">

    <h5 style="margin-left: 40px">Simulator Code : </h5>

    <p style="margin-left: 50px">{{activiteFormation.codeActiviteFormation}}</p>
  </div>


  <div id="div2" style="border:  1px solid #ccc; margin-left: 30px; margin-right: 30px">
    <h5 style="margin-left: 40px">Type : </h5>

    <p  style="margin-left: 50px" *ngIf="activiteFormation.typeActivite==0">PNT</p>
    <p  style="margin-left: 50px" *ngIf="activiteFormation.typeActivite==1">PNC</p>
  </div>



  <div id="div3" style="border:  1px solid #ccc; margin-left: 30px; margin-right: 30px">

    <h5 style="margin-left: 40px">Number of days : </h5>

    <p style="margin-left: 50px">{{activiteFormation.nombreJours}}</p>
  </div>
</div> <br> <br>
<div id="divB">
  <div id="div4" style="border:  1px solid #ccc; margin-left: 30px; margin-right: 30px">

    <h5 style="margin-left: 40px">Period : </h5>

    <p  style="margin-left: 50px" *ngIf="activiteFormation.periode==1">First Period</p>
    <p  style="margin-left: 50px" *ngIf="activiteFormation.periode==2">Second Period</p>
  </div>

  <div id="div5" style="border:  1px solid #ccc; margin-left: 30px; margin-right: 30px">

    <h5 style="margin-left: 40px">Training Start Date : </h5>

    <p style="margin-left: 50px">{{activiteFormation.dateDebutActivite | date}}</p>
  </div>
  <div id="div6" style="border:  1px solid #ccc; margin-left: 30px; margin-right: 30px">

    <h5 style="margin-left: 40px">Training End Date : </h5>

    <p style="margin-left: 50px">{{activiteFormation.dateFinActivite | date}}</p>
  </div> </div> <br>


  <br>

  <div>
    <h5 style="margin-left: 40px">Training Nature : </h5>
    <table style="width: 95%; text-align: center" align="center" >
      <th style="width: 47.5%">Training Nature Code</th>
      <th style="width: 47.5%">Training Nature</th>
      <tr>
        <td style="width: 47.5%">{{activiteFormation.natureFormation.codeNatureFormation}}</td>
        <td style="width: 47.5%">{{ activiteFormation.natureFormation.natureFormation}}</td>
      </tr>
    </table>
  </div>
  <br><br>
  <div>
    <h5 style="margin-left: 40px">Training Type : </h5>
    <table style="width: 95%; text-align: center" align="center" >
      <th style="width: 31.6%">Training Type Code</th>
      <th style="width: 31.6%">Training Type Title</th>
      <th style="width: 31.6%">Training Type</th>
      <tr>
        <td style="width: 31.6%">{{activiteFormation.typeFormation.codeTypeFormation}}</td>
        <td style="width: 31.6%">{{ activiteFormation.typeFormation.titreFormation}}</td>
        <td style="width: 31.6%">{{ activiteFormation.typeFormation.typeFormation}}</td>
      </tr>
    </table>
  </div> <br>
  <div class="btn-block2" align="right" >
    <button type="button" name="addEx" style="background-color: #ffcc33; width: 20%" (click)="showDetailParametrageEcheance(activiteFormation.typeFormation.parametrageEcheance.id)" >Show Deadline Settings</button>
  </div> <br>
  <br><br>
  <div>
    <h5 style="margin-left: 40px">Training Population : </h5>
    <table style="width: 95%; text-align: center" align="center" >
      <th style="width: 47.5%">Training Population Code</th>
      <th style="width: 47.5%">Training Population</th>
      <tr *ngFor="let e of activiteFormation.populations">
        <td style="width: 47.5%">{{e.codePopulation}}</td>
        <td style="width: 47.5%">{{ e.population}}</td>
      </tr>
    </table>
  </div>
  <br><br>
  <div>
    <h5 style="margin-left: 40px">Training Instructions : </h5>
    <table style="width: 95%; text-align: center" align="center" >
      <th style="width: 31.6%">Position</th>
      <th style="width: 31.6%">User Code</th>
      <th style="width: 31.6%">User Name</th>
      <th style="width: 31.6%">Valid</th>
      <tr *ngFor="let e of instructionsByAct">
        <td style="width: 31.6%">{{e.position}}</td>
        <td style="width: 31.6%" id="navig1" (click)="showDetailUtilisateur(e.utilisateur.id)">{{ e.utilisateur.codePN}}</td>
        <td style="width: 31.6%" id="navig2" (click)="showDetailUtilisateur(e.utilisateur.id)">{{ e.utilisateur.nom}} {{ e.utilisateur.prenom}}</td>
        <td style="width: 31.6%" *ngIf="e.valide==0">No</td>
        <td style="width: 31.6%" *ngIf="e.valide==1">Yes</td>
      </tr>
    </table></div> <br>
  <div class="btn-block2" align="right" >
    <button type="button" name="addEx" style="background-color: #ffcc33; width: 20%" (click)="addInstruction(activiteFormation.id)" > <i class="fas fa-plus" style="margin-right: 20px"></i>Add New Instruction</button>
  </div>
  <br><br>
  <div>
    <h5 style="margin-left: 40px">Training Sessions : </h5>
    <table style="width: 95%; text-align: center" align="center" >
      <th style="width: 19%"> Session Code</th>
      <th style="width: 19%"> Session Date</th>
      <th style="width: 19%"> Simulator Code Type</th>
      <th style="width: 19%">Simulator Type</th>
      <th style="width: 19%"> Syllabus</th>
      <tr *ngFor="let e of activiteFormation.seanceSimulateurs">
        <td style="width: 19%" (click)="showValidationInstructeurSimulateur(e.id, activiteFormation, e)">{{e.codeSeanceSimulateur}}</td>
        <td style="width: 19%">{{ e.dateSeanceSimulateur | date}}</td>
        <td style="width: 19%">{{e.typeSimulateur.codeTypeSimulateur}}</td>
        <td style="width: 19%">{{e.typeSimulateur.typeSimulateur}}</td>
        <td id="navig3" style="width: 19%" (click)="showDetailSyllabus(e.syllabus.id)">{{e.syllabus.codeSyllabus}}</td>
      </tr>
    </table>
  </div>
  <br><br>


</div>
