<div>
  <h1 align="center">Deadline Setting</h1>
  <br><br>

  <div style="border:  1px solid #ccc; margin-left: 30px; margin-right: 30px">

    <h5 style="margin-left: 40px">Next Step : </h5>

    <p style="margin-left: 50px">{{parametrageEcheance.etapeSuivante}}</p>
  </div>  <br>

  <div style="border:  1px solid #ccc; margin-left: 30px; margin-right: 30px">

    <h5 style="margin-left: 40px">Calculate from : </h5>

    <p style="margin-left: 50px">{{parametrageEcheance.calculeApartir}}</p>
  </div>  <br>


  <div style="border:  1px solid #ccc; margin-left: 30px; margin-right: 30px">

    <h5 style="margin-left: 40px">Tolerance Days : </h5>

    <p style="margin-left: 50px">{{parametrageEcheance.toleranceJours}}</p>
  </div>  <br>



  <div style="border:  1px solid #ccc; margin-left: 30px; margin-right: 30px">

    <h5 style="margin-left: 40px">End of month deadline : </h5>

    <p style="margin-left: 50px">{{parametrageEcheance.echeanceFinMois}}</p>
  </div>  <br>



  <div style="border:  1px solid #ccc; margin-left: 30px; margin-right: 30px">

    <h5 style="margin-left: 40px">Valid by default : </h5>

    <p style="margin-left: 50px">{{parametrageEcheance.valideParDefaut}}</p>
  </div>  <br>

</div>
